apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: scenario1-rules
  namespace: monitoring
  labels:
    release: kps
spec:
  groups:
    - name: scenario1.rules
      rules:
        # 游릭 Node Ready
        - record: scenario1:node_ready
          expr: count(kube_node_status_condition{condition="Ready", status="true"})

        # 游릭 HPA Desired / Current
        - record: scenario1:hpa_desired
          expr: sum(kube_horizontalpodautoscaler_status_desired_replicas)
        - record: scenario1:hpa_current
          expr: sum(kube_horizontalpodautoscaler_status_current_replicas)

        # 游릭 Pods Desired / Ready
        - record: scenario1:pod_desired
          expr: sum(kube_deployment_spec_replicas)
        - record: scenario1:pod_ready
          expr: sum(kube_deployment_status_replicas_ready)

        # 游릭 CPU Usage
        - record: scenario1:cpu_usage
          expr: sum(rate(container_cpu_usage_seconds_total[1m]))

        # 游릭 Memory Usage
        - record: scenario1:mem_working_set
          expr: sum(container_memory_working_set_bytes)
