apiVersion: v1
kind: ConfigMap
metadata:
  name: locust-ca-scripts
  namespace: monitoring
data:
  locust-ca.py: |
{{ lookup('file', playbook_dir ~ '/files/locust-scripts/locust-ca.py') | indent(4, true) }}
