
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ monitoring_ns }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: 80
  selector:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: kps
