apiVersion: v1
kind: Service
metadata:
  name: cluster-autoscaler-metrics
  namespace: kube-system
  labels:
    app: cluster-autoscaler
spec:
  selector:
    app.kubernetes.io/name: cluster-autoscaler
  ports:
    - name: http
      port: 8085
      targetPort: 8085
