# manifests/servicemonitor-loki.yaml
# ============================================================
# ServiceMonitor for Loki - so Prometheus can scrape Loki metrics
# ============================================================
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: loki-servicemonitor
  namespace: monitoring
  labels:
    release: kps
    app.kubernetes.io/name: loki
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: loki
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http-metrics
      path: /metrics
      interval: 30s
